# Project exclude paths
logs
target
/.idea
/.idea_modules
/.classpath
/.bsp
/.gradle
/.project
/database/hibernate-generated.sql
/.settings
/RUNNING_PID
/public
null


bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache